body {
  background: #FFF;
  //background: -webkit-linear-gradient(right, #31d2bb, #42c56b);
  //background: -o-linear-gradient(left, #31d2bb, #42c56b);
  //background: -moz-linear-gradient(left, #31d2bb, #42c56b);
  //background: linear-gradient(left, #31d2bb, #42c56b);

  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  #m2-logo img {
    width: 150px;
    height: 150px;
  }
}
